*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --background-colour: aliceblue;
    --primary-colour: rgb(30, 137, 166);
    --secondary-colour: rgb(15, 95, 117);
    --border-colour: rgb(7, 55, 68);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--background-colour);
    width: 100vw;
    height: 100vh;
    margin: 0;
}

h1 {
    color: var(--primary-colour);
    font-size: 40px;
}

.todobar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
}

.todobar > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

form > textarea {
    height: 30vh;
    font-size: larger;
}

form > div {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}


input {
    width: 80%;
    margin-right: 5px;
}

.login {
    width: 250px;
    height: 170px;
    background-color:rgb(135, 214, 236);
    font-size: 25px;
    color: rgb(7, 55, 68);
    cursor: pointer;
}

.login:hover {
    background-color: rgb(91, 180, 204);
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid var(--border-colour);
    min-width: 500px;
}


.listitem {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.work, .dead {
    border-top: 1px solid var(--border-colour);
    border-left: 1px solid var(--border-colour);
    border-right: 1px solid var(--border-colour);
    border-radius: 1px;
    padding: 2px;
}

.work {
    font-size: larger;
    width: 500px;
    min-height: 100px;
}

.deletebutton {
    height: 30px;
}

label {
    margin: auto;
    width: 100px;
    text-align: center;
}

.logout {
    position: fixed;
    right: 30px;
    top: 30px;
    width: 100px;
    height: 50px;
    background-color:rgb(173, 219, 232);
    font-size: 25px;
    color: rgb(7, 55, 68);
    cursor: pointer;
}

.logout:hover {
    background-color: rgb(91, 180, 204);
}

.notodo {
    font-size: 30px;
    color: var(--secondary-colour);
    text-align: center;
}